body {
  min-width: 370px;	
  overflow-x: hidden;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
}