<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>imgget</title>
        <!--
            - JavaScript and HTML must be in separate files: see our Content Security
            - Policy documentation[1] for details and explanation.
            -
            - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
         -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/javascript/popup.js"></script>
    </head>
    <body>
        <div>
            <button id="select-all">select all</button>
            <button id="select-none">select none</button>
            <br/>
        </div>
        <div>
            <ul id="thumbs">
            </ul>
        </div>
        <div>
            <button id="download">download</button>
            <p id="num-selected"></p>
            <p id="num-downloaded"></p>
        </div>
        <iframe id="iframe" src="sandbox.html"/>
    </body>
</html>
