<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>imgget sandbox</title>
        <!--
            - JavaScript and HTML must be in separate files: see our Content Security
            - Policy documentation[1] for details and explanation.
            -
            - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
         -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/javascript/sandbox.js"></script>
    </head>
    <body>
        <div id="sandbox" />
    </body>
</html>
